Client/Connected Services/CalculatorService/WCFCalculatorImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFCalculatorImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpContextBinding_IWCFCalculator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFCalculator_InitializeConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeConnection" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_InitializeConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_ProcessRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_PrintMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PrintMessage" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IWCFCalculator">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InitializeConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCalculator/InitializeConnection" message="tns:IWCFCalculator_InitializeConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCalculator/InitializeConnectionResponse" message="tns:IWCFCalculator_InitializeConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProcessRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCalculator/ProcessRequest" message="tns:IWCFCalculator_ProcessRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PrintMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCalculator/PrintMessage" message="tns:IWCFCalculator_PrintMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpContextBinding_IWCFCalculator" type="tns:IWCFCalculator">
    <wsp:PolicyReference URI="#NetTcpContextBinding_IWCFCalculator_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InitializeConnection">
      <soap12:operation soapAction="http://tempuri.org/IWCFCalculator/InitializeConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://tempuri.org/IWCFCalculator/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PrintMessage">
      <soap12:operation soapAction="http://tempuri.org/IWCFCalculator/PrintMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCalculatorImpl">
    <wsdl:port name="NetTcpContextBinding_IWCFCalculator" binding="tns:NetTcpContextBinding_IWCFCalculator">
      <soap12:address location="net.tcp://localhost:8090/Server" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/Server</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>YARIN\User</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>