Connected Services/CalculatorReference/WCFCalculatorImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFCalculatorImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFCalculator_initializeConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:initializeConnection" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_initializeConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:initializeConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_processRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:processRequest" />
  </wsdl:message>
  <wsdl:message name="IWCFCalculator_processRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:processRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFCalculator">
    <wsdl:operation name="initializeConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCalculator/initializeConnection" message="tns:IWCFCalculator_initializeConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCalculator/initializeConnectionResponse" message="tns:IWCFCalculator_initializeConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFCalculator/processRequest" message="tns:IWCFCalculator_processRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFCalculator/processRequestResponse" message="tns:IWCFCalculator_processRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFCalculator" type="tns:IWCFCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initializeConnection">
      <soap:operation soapAction="http://tempuri.org/IWCFCalculator/initializeConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processRequest">
      <soap:operation soapAction="http://tempuri.org/IWCFCalculator/processRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFCalculatorImpl">
    <wsdl:port name="BasicHttpBinding_IWCFCalculator" binding="tns:BasicHttpBinding_IWCFCalculator">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>